@-webkit-keyframes MOVE-BG {
  0% {
    background-position: center center;
  }
  50% {
    background-position: bottom center;
  }
  100% {
    background-position: center center;
  }
}

@keyframes posunuti {
  0% {  left: -100%;}
  100% { left: 0; }
}

@keyframes posunuti2 {
  0% {  width: 0vh; }
  100% { width: 10vh; }
}

@keyframes show {
  0% {  display: none }
  100% { display: block; }
}

@keyframes show2 {
  0% {  opacity: 0 }
  100% { opacity: 1; }
}