@mixin div-columns($col, $marg: 0px, $direction: left, $display: inline-block) {

  width: calc(100% * #{$col} - #{$marg} - 1px);
  margin: 0, auto;
  margin-right: $marg;
  display: $display;
  float: $direction;

}
.row2 {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  @include media($mobile) {
    display: block;
  }
}

.column {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  @include media($mobile) {
    display: block;
  }
}

.css3-shadow3{
  position:relative;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);


}

.css3-shadow3:after{
  content:"";
  position:absolute;
  z-index:-1;
  -webkit-box-shadow:0 0 40px rgba(0,0,0,1);
  box-shadow:0 0 40px rgba(0,0,0,1);
  top:10%;
  right: 50%;
  height:90%;
  width:50%;
  transform: translateX(50%);
  -moz-border-radius:100%;
  border-radius:100%;

  @include media($mobile) {
    display: none;
  }
}

.slick-prev:before, .slick-next:before{
  color:$red;
  font-size: 40px;
  z-index: 500 !important;
}

.slick-next {
  right: 15px;
  z-index: 500 !important;


}
.slick-prev {
  left: 15px;
  z-index: 500 !important;
}

.clear {
  clear: both;
}

.showImage {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform:translateX(-50%) translateY(-50%);

  width: 70vw;
  height: 80vh;

  z-index: 100;

  background-color: white;

  .pic {
    width: 60%;
    height: auto;
    max-height: 50vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    img {
      width: 100%;
      height: auto;
      max-height: 50vh;
    }

    .zavrit {
      position: static;
      color: $red;
      text-align: center;
      clear: both;
    }

  }


  .zavrit {
    position: absolute;

    right: 5px;
    top: 5px;

    a {
      color: $red;
      font-weight: bold;
    }
  }


}

.ztmavit {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(black, 0.6);
  z-index: 50;
}